.comfort__container {
    // margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 175px;
}

.comfort__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 0px;

    color: #55A630;

    margin-bottom: 75px;

}

.comfort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 122px;
    margin-bottom: 75px;

    &:last-child{
        margin-bottom: 0;
    }
}

.comfort__script {
    display: block;
    // margin-left: 122px;

    .comfort__headings {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 26px;
        margin-bottom: 29px;

        color: #424242;

        opacity: 0.8;
    }

    .comfort__line {
        display: block;
        width: 133px;
        height: 2px;
        background-color:  #55A630;

        margin-bottom: 45px;
    }

    .comfort__text {
        max-width: 590px;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;

        color: #424242;

        opacity: 0.8;
    }
}

.comfort__img {
    display: block;
}

.comfort__udobni-img {
    display: flex;
    order: -1;
}


// Responsive for 1000
@media only screen and (max-width:1000px){
    
}

// Responsive for 768
@media only screen and (max-width:768px){
    
}

// Responsive for 480
@media only screen and (max-width:480px){
    
}

// Responsive for 320
@media only screen and (max-width:320px){
    
}